@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap');

html {
    font-size: 125%;
    /*20px*/
    color: #28221b;
}

body {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-bottom: 0.2rem;
}


h1 {
    font-size: 4.209rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    padding-top: 3.4rem;
    padding-bottom: 1.7rem;
}

h2 {
    font-size: 3.157rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

h3 {
    font-size: 2.369rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    padding-bottom: 0.6rem;
}

h4 {
    font-size: 1.777rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

h5 {
    font-size: 1.333rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    padding-bottom: 0.35rem;
}

h6 {
    font-size: 1.333rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

@media only screen and (max-width: 1024px) {
    h6 {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 600px) {
    html {
        font-size: 112.5%;
        /*18px*/
        color: #28221b;
    }

    h1 {
        font-size: 3.157rem;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        padding-top: 3.4rem;
        padding-bottom: 1.7rem;
    }

    h6 {
        font-size: 1.333rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
}