body {
  background-color: #EBECE7;
}

a {
  color: #28221b;
  text-decoration: none;
}

/* Desktop header start */
.desktop-header {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  background-color: #ede2da;
  width: 100%;
  padding: 0px 34px 0px 34px;
  align-items: center;
  border-color: #28221b;
  border-bottom: 1px solid;
  max-height: 120px;
}

#desktop-header-logo {
  height: 80px;
  margin: 17px 0px 17px 0px;
}

.desktop-produkter-button {
  background-color: #ede2da;
  margin-bottom: 35%;
  margin-top: 35%;
}

.desktop-header-flex-navigation {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.desktop-header-flex-navigation h6:hover {
  text-decoration: underline;
}

#header-dropdown {
  padding-top: auto;
}

#header-dropdown-content {
  display: none;
  position: absolute;
  background-color: #ede2da;
  width: 100%;
  left: 0;
  padding: 17px 34px 17px 34px;
  z-index: 1;
  justify-content: space-between;
  border-color: #28221b;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#header-dropdown:hover #header-dropdown-content {
  display: flex;
}

ul {
  float: left;
}

li {
  list-style-type: none;
  padding: 17px;
  transition: 2s;
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Desktop header end*/

main {
  padding-top: 120px;
}

.hero-banner-image {
  width: 100%;
}

.frontpage-main-article {
  text-align: center;
}

.nyheter-gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.nyheter-image {
  width: 25vw;
  min-width: 350px;
}

.møbelhistorie-article-1 {
  background-color: #809DAE;
  margin-right: 10%;
  text-align: left;
  display: flex;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-bottom: 68px;
  justify-content: space-between;
}

.panton-chair-article {
  margin-left: 15%;
  justify-content: center;
}

.panton-chair-image {
  padding-left: 5%;
  padding-right: 5%;
  align-self: center;
}

.møbelhistorie-article-2 {
  background-color: #809DAE;
  margin-left: 10%;
  text-align: left;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 34px;
  justify-content: space-between;
}

.syveren-chair-article {
  justify-content: center;
  padding-right: 15%;
}

.syveren-chair-image {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  align-self: center;

}

.inspirasjon-gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.inspirasjon-image {
  width: 25vw;
  min-width: 350px;
}

.flex-container-blogg {
 width: 60vw;
 align-items:space-between;
 text-align: start;
 text-justify: newspaper;
}

.flex-container-right {
  float:right;
  float:inline-start;
  width: 40vw;
  text-justify: newspaper;
  
  
}


@media only screen and (min-width: 768px) {
  .phone-header {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  body {
    background-color: #EDE2DA;
  }

  main {
    padding-top: 100px;
    background-color: #EBECE7;
  }

  a {
    display: contents;
  }

  /* Phone header start*/
  .phone-header {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    background-color: #ede2da;
    width: 100vw;
    padding: 24px 24px 24px 24px;
    align-items: center;
    border-color: #28221b;
    border-bottom: 1px solid;
    justify-content: space-between;
    max-height: 100px;
  }

  .phone-header-images {
    max-height: 60px;
  }

  /* phone dropdown start
      link https://codepen.io/raneio/pen/NbbZEM */
  .dropdown {
    display: inline-block;
  }

  .dd-button {
    display: inline-block;
    background-color: #ede2da;
  }

  .dd-input {
    display: none;
  }

  .dd-input+.dd-menu {
    display: none;
  }

  .dd-input:checked+.dd-menu {
    display: block;
  }

  .dd-menu {
    position: absolute;
    border-top: 1px solid #28221b;
    border-bottom: 1px solid #28221b;
    left: 0;
    width: 100%;
    background-color: #ede2da;
    margin-top: 27px;
  }

  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }

  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }

  .dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #28221b;
  }

  .phone-dropdown-produkter {
    display: flex;
    flex-wrap: nowrap;
  }

  .phone-produkter-categories {
    margin-left: 17px;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  a:hover {
    color: #222222
  }

  ul {
    float: left;
  }

  li {
    list-style-type: none;
    padding: 17px;
  }

  li:hover {
    text-decoration: underline;
  }

  /* Phone hedaer end */

  .møbelhistorie-article-1 {
    background-color: #809DAE;
    text-align: left;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 68px;
    width: 100%;
    flex-wrap: wrap;
  }

  .panton-chair-article {
    justify-content: center;
    margin: 0 auto 34px auto;
    width: 80vw;
  }

  .panton-chair-image {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }

  .møbelhistorie-article-2 {
    background-color: #809DAE;
    text-align: left;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 0;
    margin-left: 0;
    margin-bottom: 68px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .syveren-chair-article {
    justify-content: center;
    margin: 0 auto 34px auto;
    width: 80vw;
    padding-right: 0;
  }

  .syveren-chair-image {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    max-width: 90vw;
  }


  .desktop-header {
    display: none;
  }
}

/*her starter CSS for produktside*/

h2 {
  margin: 30px 0px 20px 85px;

}

p {
  padding: 10px 0px 50px 10px;
}

.buy-button {
  background-color: #809DAE;
  border: none;
  color: #EBECE7;
  padding: 10px 50px;
  text-align: center;
  display: inline-block;
  margin-left: 33%;
  margin-bottom: 50px;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  }

  .buy-button:hover {
    background-color: #ede2da;
    color: #28221b;
    border: #28221b;
    border-style: solid;
  }

.most-popular {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.seating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.more-button {
background-color: #28221b;
border: none;
color: #EBECE7;
padding: 10px 80px;
text-align: center;
display: inline-block;
font-size: 20px;
margin-left: 75%;
margin-top: 50px;
transition-duration: 0.4s;
cursor: pointer;
}

.more-button:hover {
  background-color: #ede2da;
  color: #28221b;
  border: #28221b;
  border-style: solid;
}

/*her starter CSS for footer*/
.footerheader {
  font-size: 20px;

}
.footertext {
  font-size: 16px;
}

.footermain {
  background-color: #ede2da;
  width: 100%;
  height: fit-content;
  border-style: inset;
  border: 1px solid #28221B;

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: flex-start;
 padding: 28px 34px 9px;
 gap: 116px;
}

.footer_content_1 {
  display: inline-block;
}
.parafooter