body {
  background-color: #f0f0ed;
}

a {
  color: #28221b;
  text-decoration: none;
}

img {
  border-radius: 5px;
}

button {
  border-radius: 5px;
}

/* Desktop header start */
.desktop-header {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  background-color: #ede2da;
  width: 100%;
  padding: 0px 34px 0px 34px;
  align-items: center;
  border-color: #28221b;
  border-bottom: 1px solid;
  max-height: 120px;
}

#desktop-header-logo {
  height: 80px;
  margin: 17px 0px 17px 0px;
}

.desktop-produkter-button {
  background-color: #ede2da;
  margin-bottom: 35%;
  margin-top: 35%;
}

.desktop-header-flex-navigation {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 0.4s;
}

.desktop-header-flex-navigation h6:hover {
  text-decoration: underline;
}

#header-dropdown {
  padding-top: auto;
}

#header-dropdown-content {
  display: none;
  position: absolute;
  background-color: #ede2da;
  width: 100%;
  left: 0;
  padding: 17px 34px 17px 34px;
  z-index: 1;
  justify-content: space-between;
  border-color: #28221b;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#header-dropdown:hover #header-dropdown-content {
  display: flex;
}

ul {
  float: left;
}

li {
  list-style-type: none;
  padding: 17px;
  transition: 2s;
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Desktop header end*/

main {
  padding-top: 120px;
}

.about-us-section {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
  justify-content: space-around;
}

.velkommen-image {
  align-self: center;
  width: 50vw;
}

.frontpage-main-article {
  text-align: center;
}

.nyheter-gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.nyheter-image {
  width: 25vw;
  min-width: 350px;
}

.møbelhistorie-article-1 {
  background-color: #809DAE;
  margin-right: 10%;
  text-align: left;
  display: flex;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-bottom: 68px;
  justify-content: space-between;
}

.panton-chair-article {
  margin-left: 15%;
  justify-content: center;
}

.panton-chair-image {
  margin-left: 5%;
  margin-right: 5%;
  align-self: center;
}

.møbelhistorie-article-2 {
  background-color: #809DAE;
  margin-left: 10%;
  text-align: left;
  display: flex;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 15%;
  padding-bottom: 5%;
  margin-bottom: 34px;
  justify-content: space-between;
}

.syveren-chair-article {
  justify-content: center;
}

.syveren-chair-image {
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
  align-self: center;

}

.inspirasjon-gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.inspirasjon-image {
  width: 25vw;
  min-width: 350px;
}

/*bloggside Start*/

.flex-container-blogg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: start;
  flex-direction: row;
  justify-content: space-around;
}

.flex-container-most-popular {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.blogg-left {
  width: 45vw;
  margin-top: 33px;
  
}

.blogg-right {
  width: 35vw;
  margin-top: 50px;
  
}

.blogg-bilde-1 {
  display: wrap;
  flex-wrap: wrap;

}

/*.ystolen {
  width: 400px;
  height: 400px;  virker som den wrapper bilde bedre med str i html
}


.jægerstolen {
  width: 400px;
  height: 400px;
}

.egget {
  width: 400px;
  height: 300px;
}*/

.dato {
  margin-right: 100%;
}

.hytte_1 {
  margin: 10px 10px 30px 10px;
  border-radius: 5px;
}

.hytte_2 {
  margin: 10px 10px 30px 10px;
  border-radius: 5px;
}

.bigger {
  font-weight: 600;
}

.readmore-button {
  background-color: #28221b;
  border: #28221b solid;
  color: #f0f0ed;
  padding: 10px 60px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-left: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.readmore-button:hover {
  background-color: #ede2da;
  color: #28221b;
  border: #28221b;
  border-style: solid;
}

@media only screen and (min-width: 768px) {
  .phone-header {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  body {
    background-color: #EDE2DA;

  }

  .flex-container-blogg {
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
  }
  .readmore-button {
    max-width: 40%;
    font-size: 15px;
  }

  .blogg-left {
    width: 100vw;
  }

  .blogg-right {
    width: 100vw;
  }

  main {
    padding-top: 100px;
    background-color: #f0f0ed;
  }

  a {
    display: contents;
  }

  /* Phone header start*/
  .phone-header {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    background-color: #ede2da;
    width: 100vw;
    padding: 24px 24px 24px 24px;
    align-items: center;
    border-color: #28221b;
    border-bottom: 1px solid;
    justify-content: space-between;
    max-height: 100px;
  }

  .phone-header-images {
    max-height: 60px;
  }

  /* phone dropdown start
      link https://codepen.io/raneio/pen/NbbZEM */
  .dropdown {
    display: inline-block;
  }

  .dd-button {
    display: inline-block;
    background-color: #ede2da;
  }

  .dd-input {
    display: none;
  }

  .dd-input+.dd-menu {
    display: none;
  }

  .dd-input:checked+.dd-menu {
    display: block;
  }

  .dd-menu {
    position: absolute;
    border-top: 1px solid #28221b;
    border-bottom: 1px solid #28221b;
    left: 0;
    width: 100%;
    background-color: #ede2da;
    margin-top: 27px;
  }

  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }

  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }

  .dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #28221b;
  }

  .phone-dropdown-produkter {
    display: flex;
    flex-wrap: nowrap;
  }

  .phone-produkter-categories {
    margin-left: 17px;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  a:hover {
    color: #222222
  }

  ul {
    float: left;
  }

  li {
    list-style-type: none;
    padding: 17px;
    transition-duration: 0.4s;
  }

  li:hover {
    text-decoration: underline;
  }

  /* Phone hedaer end */

  .about-us-section {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .velkommen-image {
    width: 80vw;
  }

  .møbelhistorie-article-1 {
    background-color: #809DAE;
    text-align: left;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 68px;
    width: 100%;
    flex-wrap: wrap;
  }

  .panton-chair-article {
    justify-content: center;
    margin: 0 auto 34px auto;
    width: 80vw;
  }

  .panton-chair-image {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }

  .møbelhistorie-article-2 {
    background-color: #809DAE;
    text-align: left;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 0;
    margin-left: 0;
    margin-bottom: 68px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .syveren-chair-article {
    justify-content: center;
    margin: 0 auto 34px auto;
    width: 80vw;
    padding-right: 0;
  }

  .syveren-chair-image {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    max-width: 90vw;
  }


  .desktop-header {
    display: none;
  }
}

/*her starter CSS for produktside*/

h2 {
  margin: 30px 0px 20px 85px;
}

p {
  padding: 10px 0px 30px 10px;
}


.buy-button {
  background-color: #809DAE;
  border: solid #809DAE;
  color: #f0f0ed;
  padding: 10px 50px;
  text-align: center;
  display: inline-block;
  margin-left: 33%;
  margin-bottom: 50px;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #ede2da;
  color: #28221b;
  border: #28221b;
  border-style: solid;
}

.most-popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-image img {
  width: 400px;
  height: 400px;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-image img {
  width: 400px;
  height: 400px;
}

.seating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.seating-image img {
  width: 400px;
  height: 400px;
}

.more-button {
  background-color: #28221b;
  border: #28221b solid;
  color: #f0f0ed;
  padding: 10px 80px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-left: 75%;
  margin-top: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.more-button:hover {
  background-color: #ede2da;
  color: #28221b;
  border: #28221b;
  border-style: solid;
}

.inspirasjon-gallery {
  padding-bottom: 35px;
}

/*her starter CSS for footer*/

.footermain {
  background-color: #ede2da;
  width: 100%;
  border-style: inset;
  border-top: 1px solid #28221B;
  border-bottom: 1px solid #28221B;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 35px 100px 10px 100px;

  font-size: 16px;
}

.footer_some,
.footer_contact,
.footer_kundeservice,
.footer_sider {
  padding: 30px;
}

.footer_some {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.paameldknapp {
  background-color: #28221b;
  border: 0.5px solid #28221B;
  color: #f0f0ed;
  display: flexbox;
  font-size: 18px;
  padding: 10px;

  transition-duration: 0.2s;
  cursor: pointer;

}

.paameldknapp:hover {
  background-color: #ede2da;
  color: #28221b;
  border: 0.5px solid #28221B;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  border: 0.5px solid #28221B;
  margin: 15px;
}


.someicons {
  padding: 10px;
}

.footerlist_individual {
  padding: 10px 0px 0px 0px;
}

.footertitle {
  padding: 0px 10px 10px 0px
}

.adressicon {
  list-style-image: url(../assets/Place_Vector_icon.svg);
  padding: 15px 0px 0px 0px;
}

.phoneicon {
  list-style-image: url(../assets/call_vector_icon.svg);
  padding: 15px 0px 0px 0px;

}

.emailicon {
  list-style-image: url(../assets/Mail_vector.svg);
  padding: 15px 0px 20px 0px;
}

.footer_absolute {
  padding: 15px 100px 0px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;

}

.leveringsalt {
  margin: auto;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width:768px) {
  .footer_absolute {
    display: none;
  }

  .leveringsalt {
    display: none;
  }

  .footer_absolute_icons_phone {
    display: flex;
    justify-content: space-around;
  }

  .footer_absolute_info_phone {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width:768px) {
  .footer_absolute {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .leveringsalt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer_absolute_icons_phone {
    display: none;
  }

  .footer_absolute_info_phone {
    display: none;
  }
}